.column {
    float: left;
    width: 25%;
    padding: 0 5px;
  }
  
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 10px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color:white;
    color: #000;
    height: 210px;
    width: 200px;
  }
  
  .fa {font-size:50px;}

  .grids{
    display: flex;
    padding-left: 160px;
    position: relative;

  }
  .about{
    position: absolute;
    display: flex;
    float: right;
    left: 880px;
    flex-direction: column;

  
  }
  .us{
    
    background-color:#ffccff ;
    height: 30px;
    border-radius: 50px;
    width: 200px;
    

  }
  
  .gridsettwo{
    padding-top: 50px;
    width: 14cm;
    height: 14cm;
  }
  .gridsetone{
    padding-top: 50px;
  }
  #two{
    padding-top: 30px;
    padding-left: 140px;
  }
  
  #four{
    padding-top: 30px;
    padding-left: 140px;
  }
  .footer {
    background-color: #222;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  .social-icons {
    display: flex;
    list-style: none;
    padding-left: 0;
  }
  
  .social-icons li {
    margin-right: 10px;
  }
  
  .social-icons li a {
    color: #fff;
  }
  
  .footer-bottom {
    background-color: #111;
    padding: 10px 0;
    margin-top: 40px;
  }
  
  .footer-bottom p {
    margin-bottom: 0;
    color: #fff;
  }
  